<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="mx-5 flex flex-col justify-start">
        <h1 class="my-3 font-bold text-3xl"><%= article.title %></h1>
        <p class="text-small text-gray-300"><%= article.createdAt.toLocaleDateString() %></p>
        <div class="flex mt-3">
            <a href="/" class="p-2 bg-gray-300 rounded-full">All Articles</a>
            <a href="/articles/edit/<%= article.slug %>" class="ml-5 p-2 bg-green-300 rounded-full">Edit Post</a>
        </div>
        <p class="mt-5"><%= article.description %></p>
    </div>
</body>
</html>